.logo {
  width: 40px;       
  height: 40px;     
  vertical-align: middle;
  margin-right: 10px; 
}
  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
    }

    header {
      background-color: #000000;
      color: rgb(255, 255, 255);
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      font-weight: bold;
    }

    nav a:hover {
      text-decoration: underline;
    }

    .hero {
      height: 330px;
    width: 216vh;
    }

    .about {
      padding: 40px 20px;
      text-align: center;
    }

    .about p {
      max-width: 600px;
      margin: auto;
      line-height: 1.6;
    }

    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #004080;
      color: white;
      border-radius: 5px;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #0059b3;
    }
      
   

    footer {
      background-color: #222;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
      font-size: 0.9em;
    }

    .card {
  background: #7d97c0;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 220px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffffff;
  justify-items: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card button {
  display: flex;
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.header2 {
  background: #383434;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.content2 {
  padding: 30px 20px;
  max-width: 600px;
  margin: auto;
  color: #0a0a0a;
}

.content h3 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 18px;
}

.content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
